# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Tests
/coverage
/.nyc_output
/test

# dotenv environment variable files
.env
#.env.development.local
#.env.test.local
#.env.production.local
#.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Ignorar todo el contenido de src excepto los archivos que decides mantener
/src
!/src/app.module.ts
!/src/main.ts
!/src/v1
!/src/v1/**/libro.entity.ts
!/src/v1/**/libros.controller.ts
!/src/v1/**/libros.module.ts
!/src/v1/**/libros.service.ts
!/src/v1/**/prestamo.entity.ts
!/src/v1/**/prestamos.controller.ts
!/src/v1/**/prestamos.module.ts
!/src/v1/**/prestamos.service.ts
!/src/v1/**/reserva.entity.ts
!/src/v1/**/reservas.controller.ts
!/src/v1/**/reservas.module.ts
!/src/v1/**/reservas.service.ts
!/src/v1/**/usuario.entity.ts
!/src/v1/**/usuarios.controller.ts
!/src/v1/**/usuarios.module.ts
!/src/v1/**/usuarios.service.ts
!/src/v1/**/v1.module.ts
